a:hover{
    color:yellow;
}/*滑鼠移到超連結上會變黃色*/
a:active{
    color:blue;
}/*按超連結的時候會變藍色*/
a:visited{
    color:red;
}/*點過超連結之後會變紅色*/
.title{
    position: relative;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    color: #999;
}/* 將整塊<div>當作基準位置
    文字置中
    自動隱藏超出的文字
    設定字體大小
    設定文字顏色*/
.title::before,.title::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    position: absolute;
    background: #ccc;
    top: 50%;
}/* 新增偽元素
    沒有內容
    顯示行內區塊(以inline方式呈現，但同時擁有block屬性)
    設定寬度高度
    設定與<div>區塊的相對位置
    設定背景顏色
    從<div>區塊左上角算起，與上方距離為50%時才開始產生*/
.title::before{
    margin-left: -10px;
    transform: translateX(-100%);
}/*左邊的要往左位移100%*/
.title::after{
    margin-left: 10px;
}
.profile{
    color:black;
    background-color: white;
}/*設定my profile的字體顏色和背景顏色*/
.profile:hover{
    color:palevioletred;
    background-color: pink;
}/*讓my profile的背景及文字變色*/
